<br/>
<h2>Composer App</h2>
<br/>
<br/>

<div class="row">

  <div class="col-sm-6">
    <figure>
      <img src="./assets/TC.jpg" alt="Teresa Carreño photograph">
      <figcaption>Source Wikimedia Commons</figcaption>
    </figure>
  </div>

  <div class="col-sm-6">
    <p>
      Teresa Carreño was born in Caracas, Venezuela on December 22, 1853.
      She studied music throughout her early life and eventually moved to
      New York where she began touring the United States. At the age of
      10 she performed at the white house for President Abraham Lincoln.
      Carreño traveled the world playing piano and performing. In her
      lifetime she composed roughly 75 different pieces mostly for piano,
      voice and orchestra. She died on June 12, 1917 at the age of 63.
    </p>
  </div>

</div>
