<div fxLayout = "row wrap">
  <div fxFlex>
    <div fxLayout = "column">
      <div style = "width: 40%">
        <img src = "../../assets/TMorrison.jpg">
      </div>
      <div>
        <em>
          Photo by Thomas Engstrom/Gamma Liasison
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Toni Morrison</h1>
    <p>
      Toni Morrison was born Chloe Anthony Wofford on February 18, 1931
       and passed away on August 5, 2019. As a young girl, she was
       instilled with a great appreciation for African American culture
       as well as songs and folktales. After graduating from Howard
       University with a Bachelor of Arts and Cornell University with a
       Master’s degree, she taught at several Universities. Morrison’s
       writing reflected mostly on the African American community and
       African American women. Her first book was published in 1970 and
       was called “The Bluest Eye”. In 1987, “Beloved” was published and
       won Morrison a Pulitzer Prize. Morrison also wrote several
       children’s books with her son and had several essays and speeches
       published. For her 2004 novel, “Remember”, she won the Coretta Scott
       King Award. She was also awarded the Nobel Prize for Literature in
       1993 and the U.S. Presidential Medal of Freedom in 2012.
    </p>
  </div>

</div>
