<div fxLayout = "row wrap">

  <div class = "address" fxFlex>
    <mat-card-title class = "card-title-icon">
      <mat-icon class = "mat-icon" color = "primary">map</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class = "align-center">
      <p>6262 West Highland St.</p>
      <p>Ponchatoula, Louisiana</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class = "card-title-icon">
      <mat-icon color = "primary">phone_in_talk</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content class = "align-center">
      <p>Office: 225-225-2255</p>
      <p>Fax: 552-552-5522</p>
    </mat-card-content>
  </div>

</div>
